<div class="titlePage"> <%= @valera_action.name %> </div>


<div class="">
  <%= render @valera_action.conditions %>
</div>

<%= link_to "Add", new_valera_action_condition_path(@valera_action, @valera_action.conditions.build),
    class: "topBarLink", id: "addLink" if user_signed_in?() %>
<%= link_to "Back", user_path(current_user), class: "topBarLink", id: "backLink" %>